.input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-surface);
    background-color: var(--clr-surface);
    color: var(--clr-text);
    font: var(--font-label);
    box-shadow: var(--shadow-sm);
}

.input:focus {
    outline: none;
    background-color: var(--clr-surface-light);
    border: 1px solid var(--clr-primary);
}

.input::placeholder {
    color: var(--clr-text-dim);
}
