.menu-item {
    background-color: var(--clr-surface-light);
    padding: 0.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    border: none;
    width: 100%;
    cursor: pointer;
    color: var(--clr-text);
}

.menu-item:hover {
    background-color: var(--clr-surface-lighter);
}
