.highlight-card {
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: var(--clr-surface);
    display: grid;
    box-shadow: var(--shadow-sm);
    color: var(--clr-text);
}

button.highlight-card {
    text-align: left;
    border: none;
    cursor: pointer;
}

button.highlight-card:hover {
    background-color: var(--clr-surface-light);
}

.highlight-card-value {
    text-align: center;
    padding-block: 1rem;
}

.highlight-card-highlight {
    background-color: var(--clr-primary);
    color: var(--clr-surface);
}

button.highlight-card-highlight:hover {
    background-color: var(--clr-primary-dim);
}
