.widget {
    height: 100%;
    padding: 1rem;
    background-color: var(--clr-background);
    border-radius: 0.75rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr;
    box-shadow: var(--shadow-md);
}

.widget-content {
    display: grid;
}
