:root {
    --clr-text: #171719;
    --clr-text-dim: #595961;
    --clr-outline: #9F9FA6;
    --clr-base: #DFDFE2;
    --clr-background: #F4F4F5;
    --clr-surface: #E3E3E6;
    --clr-surface-light: #DDDDE0;
    --clr-surface-lighter: #D4D4D9;
    --clr-primary: #0284C7;
    --clr-primary-dim: #0369A1;

    --shadow-md: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] {
    --clr-text: #FFFFFF;
    --clr-text-dim: #A3A3A3;
    --clr-outline: #B0B0B7;
    --clr-base: #171719;
    --clr-background: #26262A;
    --clr-surface: #323238;
    --clr-surface-light: #3F3F45;
    --clr-surface-lighter: #4A4A51;
    --clr-primary: #38BDF8;
    --clr-primary-dim: #7DD3FC;

    --shadow-md: none;
    --shadow-sm: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--clr-text);
    background-color: var(--clr-base);
}

input, button, select {
    font: inherit;
}
